[Unit]
Description=gRPC Auth
After=network.target

[Service]
User=a1231459
WorkingDirectory=/home/a1231459/apps/grpc-auth
ExecStart=/home/a1231459/apps/grpc-auth --config=/home/a1231459/apps/grpc-auth/config/prod.yaml
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target